div{
    display: flex;
    flex-direction: column;
}
#musicBtn{
    margin-top: 200px;
    margin-bottom: 20px;
}
button{
    padding: 10px;
    margin-left: 700px;
    margin-right: 700px;
    background-color: #9ae1ebc7;
    border: 3px solid rgb(181, 243, 238);
    border-radius: 200px;
    color: black;
}
body{
    background-color: black;
    color: white;
}
button:hover{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    margin-left: 155px;
}
